
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success row justify-content-between align-items-center" role="alert">
   
    <h5>总价：￥ <a id="total" class="badge badge-warning">0</a></h5>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
        提交
    </button>

</div>

<div>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">名称</th>
      <th scope="col">总销量</th>
      <th scope="col">价格</th>
      <th scope="col">需求</th>
      <th scope="col">处理</th>
    </tr>
  </thead>
  <tbody>

    <!-- 渲染menu数据 -->
    @foreach (var item in Model.Rice)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td class="fontColorBright">@item.SalesVolume</td>
            <td>￥: @item.Price</td>
            
            <th class="count" data-itemid="@item.Id">0</th>
            <td>
                <button data-itemid="@item.Id" data-price="@item.Price" data-tohandle="increase" type="button" class="btn btn-outline-success btn-sm">添加</button>
                <button data-itemid="@item.Id" data-price="@item.Price" data-tohandle="decrease" type="button" class="btn btn-outline-danger btn-sm">减少</button>
            </td>
        </tr>
    }
    @foreach (var item in Model.Dish)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td class="fontColorBright">@item.SalesVolume</td>
            <td>￥: @item.Price</td>
            
            <th class="count" data-itemid="@item.Id">0</th>
            <td>
                <button data-itemid="@item.Id" data-price="@item.Price" data-tohandle="increase" type="button" class="btn btn-outline-success btn-sm">添加</button>
                <button data-itemid="@item.Id" data-price="@item.Price" data-tohandle="decrease" type="button" class="btn btn-outline-danger btn-sm">减少</button>
            </td>
        </tr>
    }

    @foreach (var item in Model.Soup)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td class="fontColorBright">@item.SalesVolume</td>
            <td>￥: @item.Price</td>
            <th class="count" data-itemid="@item.Id">0</th>
            <td>
                <button data-itemid="@item.Id" data-price="@item.Price" data-tohandle="increase" type="button" class="btn btn-outline-success btn-sm">添加</button>
                <button data-itemid="@item.Id" data-price="@item.Price" data-tohandle="decrease" type="button" class="btn btn-outline-danger btn-sm">减少</button>
            </td>
        </tr>
    }

  </tbody>
</table>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">输入座位号并提交</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <input id="seatNumber" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="输入座位号">
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button id="send" type="button" class="btn btn-primary">确认</button>
      </div>
    </div>
  </div>
</div>

<!-- 添加本页面的 js -->
@section Scripts{
    <script src="~/js/home.js"></script>
}

